#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd --name=ecs
	dh_installsystemd --name=amazon-ecs-volume-plugin

build:
	PATH=/usr/lib/go-1.13/bin:$(PATH) ./scripts/gobuild.sh al2

clean:
	dh $@
	rm -f amazon-ecs-init
